* {box-sizing: border-box}

/* carousel styling */

.carousel-item {
    height: 300px;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.carousel-caption {
    position: relative;
    left: 0 !important;
    bottom: 0 !important;
}


/* header */
#head {
    text-align: center;
    background-color: #071a52 !important;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #a7ff83 !important;
}

/* navigation list */
.nav-list {
    line-height: 2.5rem !important;
}

/* page content */
.content{
    background-color:  #17b978 !important;
    padding: 10px;
    width: 75% !important;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}


p {
    font-size: 1rem !important;
}

td {
    border: 1px solid black;
}


/* tables */
table {
    background-color:#086972;
    color: black;
    max-width: 65%;
}

.scroll {
    overflow: scroll;
}

/* activity related styles */

.activity {
    background-color: #086972;
    padding: 5px;
}

.win {
    font-weight: bold;
}

#word {
    text-align: center;
    font-size: 28px;
}

.reflexive {
    background-color: burlywood;
}

/* images */
.extra-images {
    height: 100px;
    width: 100px;
}

/* conjugation tables */

form {
    background-color: #086972;
    padding: 10px;
    color: black;
    border-radius: 5px;
}


/* answer button for intransitive verbs */
.collapsible {
    background-color: #eee;
    color: #111;
    cursor: pointer;
    padding: 18px;
    width: 15rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
  }

.active, .collapsible:hover {
    background-color: #ccc;
} 

  
.text {
    color: black
}

a {
  color: black !important;
}